.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #003057;
}

.interactive-box {
  width: 300px;
  height: 200px;
  background: linear-gradient(45deg, #36D8FF, #00acee, #66757f);
  border-radius: 10px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  display: flex;
  justify-content: center;
  align-items: center;
}

.interactive-box:hover {
  transform: translateY(5px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.title {
  color: white;
  font-size: 24px;
  font-weight: bold;
}
